NEXT_PUBLIC_SITE_URL=https://www.plantxchanger.com
NEXT_PUBLIC_FALLBACK_CONTACT_EMAIL=sales@plantxchanger.com
NEXT_PUBLIC_FALLBACK_PHONE_NUMBER=+852 9616 6083
NEXT_PUBLIC_FALLBACK_WHATSAPP_NUMBER=+852 96166083

DATABASE_URL=postgresql://USER:PASSWORD@HOST.neon.tech/DATABASE?sslmode=require&channel_binding=require
