NEXT_PUBLIC_SITE_URL=https://www.plantxchanger.com
NEXT_PUBLIC_FALLBACK_CONTACT_EMAIL=sales@plantxchanger.com
NEXT_PUBLIC_FALLBACK_WHATSAPP_NUMBER=+8613800000000

STRAPI_URL=https://cms.plantxchanger.com
STRAPI_READ_TOKEN=replace-with-strapi-read-token
STRAPI_WRITE_TOKEN=replace-with-strapi-write-token
